body{
	font-family: helvetica;
	font-weight: bold;
}
*{
	margin: 0px;
	padding: 0px;
}
#navbar{
	background-color: black;
	height: 40px;

}
.parents{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
ul li{
	position: relative;
	width: 100px;
	display: inline-block;
	background-color: black;
	height: 40px;
	line-height: 40px;
}

ul li a{
	text-decoration: none;
	color: white;
	padding: 10px;
}
ul li:hover{
	background-color: grey;

}

ul  ul{
	position: absolute;
	display: none;


}
ul  li:hover > ul{
	display: block;
}

ul ul ul{
	left:100px;
	position: absolute;
	top: 0px;
	display: none;

}